# Archivos y directorios de Python
*.pyc
*.pyo
__pycache__/

# Entornos virtuales
venv/
env/

# Archivos de Django
*.log
*.sqlite3
db.sqlite3
/static/
media/

# Archivos de configuración de IDEs (ej. VSCode, PyCharm)
.vscode/
.idea/

# Dependencias generadas por pip
*.egg-info/
.eggs/
dist/
build/

# Archivos de configuración de OS
.DS_Store
Thumbs.db

# Archivos de producción
*.env
*.bak
*.swp
*.swo
